  <% if user_signed_in? %>

<div class="well">

  <div class="well text-center">
    <h4>DRINK TARGET</h4>
    <h5><%= current_user.total_drunk %> <%= current_user.goal_measurement_type %> / <strong><%= current_user.water_goal %> <%= current_user.goal_measurement_type %></strong></h5>
    <br>
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:<%= 100*(current_user.total_drunk.to_f / current_user.water_goal) %>%">
    <%= 100*(current_user.total_drunk.to_f / current_user.water_goal).round(3) %>%
      </div>
    </div>
  </div>
    <div>
    <%= link_to "Drink Up", new_water_path, id: "new_link_water", remote: true, :class => "btn btn-primary col-xs-12 col-sm-6 col-sm-offset-3" %>
    </div>

    <table id="waters" class="table table-bordered">
      <tr>
        <th>Amount</th>
        <th>Date</th>
      </tr>

      <% current_user.waters.each do |water| %>
        <tr>
          <td><strong><%= water.amount_drunk %></strong> <%= current_user.goal_measurement_type %></td>
          <td class="small"><%= water.formatted_time %></td>
        </tr>

      <% end %>
      <%= will_paginate @waters, :param_name => "water_page" %>
    </table>



  <% else %>
    <p>You must sign in to add a water.</p>
  <% end %>


</div>
