<% if user_signed_in? %>
<div class="well text-center">
  <h1>Net Calories:</h1>

  <h3><span id="<%= current_user.id %>_net_total"><%= current_user.net_total %> calories</span></h3>
</div>

<div class="col-md-4">
  <%= render 'foods/foods' %>
</div>

<div class="col-md-4">
<%= render 'exercises/exercises' %>
</div>


<div class="col-md-4">
<%= render 'waters/waters' %>
</div>

<% else %>
  <h3>Please Login</h3>
<% end %>
