<% if user_signed_in? %>



<div class="well col-md-12 wellGray">
  <div class="well text-center">
    <h4>CALORIC TARGET</h4>
    <h5><span id="caloric_goal"><%= current_user.net_total %> C / <strong><%= current_user.caloric_goal %> C</strong></span</h5>
    <br>
  </div>

  <div class="col-md-5 col-md-offset-1">
    <%= render 'foods/foods' %>
  </div>

  <div class="col-md-5">
  <%= render 'exercises/exercises' %>
  </div>
</div>

<div class="col-md-5 col-md-offset-1">
<%= render 'waters/waters' %>
</div>

<% else %>
  <h3>Please Login</h3>
<% end %>
