<div class="well">

  <% if user_signed_in? %>
    <div class="well">
      <h3>Calories Consumed:</h3>
      <span id="<%= current_user.id %>_total_consumed"><%= current_user.total_consumed %></span>
    </div>
    <%= link_to "Enter Food", new_food_path, id: "new_link", remote: true, :class => "btn btn-primary" %>
    <hr>

    <% current_user.foods.each do |food| %>
      <div class="well">
        <%= food.name %> | <%= food.calories %>
      </div>
    <% end %>
      <span id="<%= current_user.id %>_foods"%></span>


  <% else %>
    <p>You must sign in to add a food.</p>
  <% end %>


</div>
