<div class="well">

  <% if user_signed_in? %>
    <div class="well">
      <h3>Calories Burned:</h3>
      <span id="<%= current_user.id %>_total_spent"><%= current_user.total_spent %> calories</span>
    </div>
    <%= link_to "Enter Exercise", new_exercise_path, id: "new_link_exercise", remote: true, :class => "btn btn-success" %>
    <hr>

    <% current_user.exercises.each do |exercise| %>
      <div class="well">
        <strong><%= exercise.name %></strong><br>
        <%= exercise.calories %> calories
      </div>
    <% end %>
      <span id="<%= current_user.id %>_exercises"%></span>


  <% else %>
    <p>You must sign in to add a exercise.</p>
  <% end %>


</div>
