<div class="well">

  <% if user_signed_in? %>
    <div class="well">
      <h3>Calories Burned:</h3>
      <span id="<%= current_user.id %>_total_spent"><%= current_user.total_spent %></span> calories
    </div>
    <%= link_to "Enter Exercise", new_exercise_path, id: "new_link_exercise", remote: true, :class => "btn btn-success col-xs-12 col-sm-6 col-sm-offset-3" %>
    <hr>

    <table id="exercises" class="table table-bordered">
      <tr>
        <th><%= link_to "Name", :sort => "name" %></th>
        <th><%= link_to "Calories", :sort => "calories" %></th>
        <th><%= link_to "Date", :sort => "created_at" %></th>
      </tr>

      <% @exercises.each do |exercise| %>
        <tr>
          <td><%= exercise.name %></td>
          <td><%= exercise.calories %> calories</td>
          <td class="small"><%= exercise.formatted_time %></td>
        </tr>
      <% end %>
      <%= will_paginate @exercises, :param_name => "exercise_page" %>
    </table>
  <% else %>
    <p>You must sign in to add a exercise.</p>
  <% end %>


</div>
