$('#new_exercise').remove();
$('#new_link_exercise').show();
$("#<%= current_user.id %>_total_spent").text('<%= current_user.total_spent %>');
$("#<%= current_user.id %>_net_total").text('<%= current_user.net_total %>');
$("#<%= current_user.id %>_exercises").append("<div class='well'>" + "<strong><%= @exercise.name %></strong><br><%= @exercise.calories %> calories" + "</div>");
